h1.title-home {
    color: rgb(62, 72, 74);
    padding-top: 35px;
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p {
    color: rgb(62, 72, 74);
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

pH {
    color: rgb(62, 72, 74);
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

div.about-us {
    color: rgb(62, 72, 74);
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
