*{
    padding: 0;
    margin: 0;
    
    
}

.register .container{
    padding-left: 356px;
    padding-right: 356px;
    
}

.register .row{
    background: rgb(44, 52, 59);
    border-radius: 30px;
    box-shadow: 10px 10px 15px;
    box-shadow: 8px 4px 11px 4px rgba(0,0,0,0.45);
    -webkit-box-shadow: 8px 4px 11px 4px rgba(0,0,0,0.45);
    -moz-box-shadow: 8px 4px 11px 4px rgba(0,0,0,0.45);
    
}

.register{
  
    background: rgb(27, 32, 37);
}


.register h1{
    font-size: 6rem;
    font-weight: 700;
    font-family: 'Pacifico', cursive;
    color:#f87732;
    text-shadow: 3px 4px rgb(104, 35, 35);
}


.register .form-inputs{
    height: 49px;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 8px 4px 11px 4px rgba(0,0,0,0.45);
    -webkit-box-shadow: 8px 4px 11px 4px rgba(0,0,0,0.45);
    -moz-box-shadow: 8px 4px 11px 4px rgba(0,0,0,0.45);
}


.register .formHelp{
    color: rgb(134, 134, 134);
}



.register .btn1{
    height: 45px;
    width: 32%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: #f87732;
    color: white;
    box-shadow: 8px 4px 11px -5px rgba(0,0,0,0.45);
    -webkit-box-shadow: 8px 4px 11px -5px rgba(0,0,0,0.45);
    -moz-box-shadow: 8px 4px 11px -5px rgba(0,0,0,0.45);
}

.register .btn1:hover{
    background: rgb(255, 135, 43);
    transition: 0.4s;
}

.btn2{
    height: 35px;
    width: 17%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: #f87732;
    color: white;
    box-shadow: 8px 4px 11px -5px rgba(0,0,0,0.45);
    -webkit-box-shadow: 8px 4px 11px -5px rgba(0,0,0,0.45);
    -moz-box-shadow: 8px 4px 11px -5px rgba(0,0,0,0.45);
}

.btn2:hover{
    background: rgb(239, 142, 68);
    transition: 0.4s;
}
