.parent {
    border: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.center {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

h1.title {
    padding-top: 17px;
    text-align: center;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color:#f87732;
    text-shadow: 3px 4px rgb(104, 35, 35);
}

h1.title1 {
    font-size: 4rem;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color:#f87732;
    text-shadow: 2px 2px 4px rgb(253, 30, 30), 0 0 8px rgb(0, 0, 0), 0 0 5px rgb(158, 63, 0);
}

h1 {
    padding-top: 17px;
    padding-top: 17px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color:#f87732;
    text-shadow: 3px 4px rgb(104, 35, 35);
}

tr {
    color: rgb(255, 255, 255);
    font-size: large;
    padding-top: 3px;
    padding-top: 3px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

.FixedHeightContainer {
    height: 800px;
    overflow: auto;
}

.leaderboard .title {
    padding-top: 2px;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    font-family: 'Pacifico', cursive;
    color:#ff9b65;
    text-shadow: 1px 1px 2px rgb(253, 30, 30), 0 0 5px rgb(0, 0, 0), 0 0 5px rgb(158, 63, 0);
    
}

.container {
    background-image: rgb(27, 32, 37);
}

.body {
    background-color: rgb(44, 52, 59);
}

.active {
    color: #e57f2c;
    font-family: 'Quicksand', sans-serif;
}

.gamesearch .form-control{
    border-radius: 20px;
}

.gamesearch .btn3{
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 600;
    background: #f87732;
    color: white;
    width: 15%;
    box-shadow: 8px 4px 11px -5px rgba(0,0,0,0.45);
    -webkit-box-shadow: 8px 4px 11px -5px rgba(0,0,0,0.45);
    -moz-box-shadow: 8px 4px 11px -5px rgba(0,0,0,0.45);
}

.gamesearch .btn3:hover{
    background: rgb(255, 59, 59);
    transition: 0.4s;
    color: white;
}