<head>
    
    <link rel="stylesheet" href="css/navbar.css">
    
</head>


<nav class="navbar navbar-expand-sm bg-secondary navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left" id="Logo">
            <li> 
                <a class="navbar-brand" href="#">
                    <img src="img/HotSteam_RED.png" alt="" alt="Hotsteam" width="51" height="51">
                    Hot Steam
                </a>
            </li>
        </ul>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gamesearch">Game Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leaderboard">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
            
            </ul>

            <div class="dropDown ms-auto dropdown text-light">
                <a class="btn dropdown-toggle btn-dark " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/register">Register</a>
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
                <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
            </div>
        </div>
    </div>
</nav>