<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
    <%- include ('../partials/message') %>

        <h1>Welcome to HotGamesWithFriends</h1>
        <br>
        <div>Here at HGWF we help you find games similar to the ones you play and compare your
            <a href="https://steampowered.com" title="Steam" target="_blank">Steam</a> stats with your friends. Think
            you've got
            the most playtime
            in
            Terraria, let's find out.
        </div>
        <div>
            <img src="img/Colorado_Buffaloes_logo.svg.png" alt="">
        </div>
        <%- include ('../partials/footer') %>