<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<head>
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/navbar.css">
</head>
<main>
  <div class="register container">
    <h1>Register:</h1>
    <form action="/register" method="post">
        <div class="form-outline mb-3">
          <label class="form-label" for="email">Email address</label>
          <input type="text" id="email" required class="form-control" pattern = ".+(@).+" name = "email" placeholder="Enter your email"/>
        </div>
        
        <div class="form-outline mb-3">
          <label class="form-label" for="username">Username</label>
          <input type="text" id="username" required class="form-control" name = "username" placeholder="Enter a username"/>
        </div>

        <div class="form-outline mb-3">
          <label for="inputPassword3" class="form-label">Password</label>
          <input type="password" required name="password" class="form-control" id="inputPassword3 password" placeholder="Enter a password">
        </div>

        <div class="form-outline mb-3">
          <label class="form-label" for="id">Steam ID</label>
          <input type="text" id="steam_id" required class="form-control" name = "steam_id" placeholder="Enter your Steam ID (76561198092971111)"/>
          <a href="https://steamid.io/">Find Your Steam ID Here</a>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
    </form>
    <form action="/login" method="post">
        <p class="text-center text-muted">Already have an account? 
            <button type="submit" class="btn btn-link fw-bold text-body link" >Login Here</button>
        </p>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>