<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
  <div class="container">
    <h1>Register:</h1>
    <form action="/register" method="post">
        <div class="form-outline mb-3">
          <label class="form-label" for="email">Email address</label>
          <input type="text" id="email" class="form-control" pattern = ".+(@).+" name = "email" />
          <small class="form-text text-muted">Input your email here</small>
        </div>
        
        <div class="form-outline mb-3">
          <label class="form-label" for="username">Username</label>
          <input type="text" id="username" class="form-control" name = "username"/>
          <small class="form-text text-muted">Input your username here</small>
        </div>

        <div class="form-outline mb-3">
          <label for="inputPassword3" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="inputPassword3 password">
          <small class="form-text text-muted">Input your password here</small>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
    </form>
    <form action="/login" method="post">
        <p class="text-center text-muted mt-5 mb-0">Already have an account? 
            <button type="submit" class="btn btn-link fw-bold text-body link" >Login Here</button>
        </p>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>